
@import "./variables";
@import "./mixin";
@import "./keyframes";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@media all and (max-width: 800px){
    body{
        width: auto;
        margin: auto;
        font-family: 'Roboto';
        
    }
    .conteneur-loader{
        width: 100%;
        height: 100%;
        background: rgb(153,226,208);
        background: radial-gradient(circle, rgba(153,226,208,1) 11%, rgba(208,195,224,1) 52%, rgba(208,195,224,1) 80%);
        position: absolute;
        z-index: 19;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: disparition .5s forwards;
        position: fixed;
        
        &__donut{
            width: 100px;
            height: 100px;
            animation: bounce 1s 4;
            border-radius: 100%;
            margin-bottom: 380px;
           }
           &__bordure{
               width: 150px;
               height: 100px;
               position: absolute;
               box-shadow: 0px 50px 30px black;
               margin-top: 0px;
               margin-left: -20px;
               border-radius: 50%;
               perspective: -90px;
               transform: rotateX(80deg);
               background-color: white;
           }
    }
    .container-header{
        width: 100%;
        height: 200px;
          img{
              width: 170px; 
          }
          i{
              margin-right: 20px;
          }
          &__logo{
              width: 100vw;
              height: 10vh;
              box-shadow: 0px 2px 2px black;
              display: flex;
              justify-content: center;
              align-items: center;
          }
          &__lieu{
              padding: 10px 0;
              width: 100%;
              height: 30px;
              background-color: rgba(234, 234, 234, .8);
              display: flex;
              justify-content: center;
              align-items: center;
          }
          &__explorez{
              background-color: rgb(246, 246, 246);
              margin-top: -5px;
              text-align: center;
              font-size: 10px;
              h2{font-weight: 1;}
              padding: 1rem 2rem;
                button{
                    background-image: linear-gradient(160deg, $secondaire, $primaire 90% );
                    border-radius: 20px;
                    border: none;
                    padding: 10px 20px;
                    cursor: pointer;
                }
          }
         
    }
    .container-navigation{
        margin-top: 150px;
        h1{margin-left: 20px; font-size: 20px;}
          &__liste{
              list-style: none;
              
          }
          i{
              color: silver;
              margin-right: 20px;
          }
         li{
              margin-top: 20px;
              width: 80%;
              margin-left: -10px;
              border-radius: 20px;
              @include bckgr-grey;
              padding: 25px 10px;
              box-shadow: 0px 5px 5px silver;
              position: relative;
              padding-left: 10%;
              cursor: pointer;
              transition: background-color 400ms;
              opacity: 0;
                &:hover{
                   background-color: rgba(147, 86, 220, .3);
                   
               }
          }
          &__apparition1{
              transform-origin: bottom;
              animation: apparition 1s forwards;
          }
          &__apparition2{
            transform-origin: bottom;
            animation: apparition 1.3s 200ms forwards;
          }
          &__apparition3{
            transform-origin: bottom;
            animation: apparition 1.5s 400ms forwards;
          }
          span{
              padding: 6px 8px; 
              background-color: $primaire;
              border-radius: 50%;
              color: white;
              font-size: 12px;
              position: absolute;
              margin-left: -14%;
              margin-bottom: 30%;
          }
    }
    .container-cartes{
        width: 100%;
        height: auto;
        @include bckgr-grey;
        
          &__cartes{
              margin-top: 20px;
              cursor: pointer;
          }
          &__image{
              height: 200px;
              width: 90%;
              @include shadow;
              margin: auto;
              border-radius: 20px;
              background-image: url("restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
              background-size: 100% 100%;
              background-repeat: no-repeat;
              z-index: 0;
              
          }
          .image2{
              background-image: url("restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
              background-size: 100% 150%;
              background-position-y: 80%;
          }
          .image3{
              background-image: url("restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
              background-position-y: -50px;
          }
          .image4{
              background-image: url("restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
              background-position-y: -50px;
          }
          &__pied{
            width: 90%;
            height: 50px;
            background-color: white;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px ;
            z-index: 1;
            margin: auto;
            margin-top: -64px;
            h2 {font-size: 17px; margin-left: 10px;}
            p {font-size: 15px; margin-top: -10px; margin-left: 10px;}
        }
        &__coeur{
            color: silver;
            margin-left: 80%;
            margin-top: -10%;
            position: absolute;
            cursor: pointer;
            z-index: 1;
            opacity: 0;
        }
        &__coeurplein{
            color: silver;
            margin-left: 80%;
            margin-top: -10%;
            position: absolute;
            cursor: pointer;
            z-index: 2;
            opacity: 1;
        }
        &__input{
            margin-left: 80%;
            margin-top: -10%;
            z-index: 3;
            position: absolute;
            opacity: 0;
            cursor: pointer;
             &:checked + .container-cartes__coeurplein{
                 color: fuchsia;
                 animation: ecraser 150ms ease forwards;
                 background: -webkit-linear-gradient(rgb(243, 128, 243), rgb(120, 5, 131));
                 -webkit-background-clip: text;
                 -webkit-text-fill-color: transparent;
             }

        }
        
        
    }
    .container-footer{
        width: 100%;
        color: white;
        background-color: rgb(53, 53, 53,);
        margin-top: 10%;
          li{
              list-style: none;
              margin-top: 10px;
              color: white;
          }
          a{
              text-decoration: none;
          }
    }
    
}